*{
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

body{
	max-width: 1920px;
	/*height: 3196px;*/
	/*background-color:  #E5E5E5;*/
	/*border: 1px solid red;*/
}
.header{
	width: 1200px;
	margin: auto;
}
.navbar{
	height: 34px;
	/*width:  1036px;*/
	position: relative;
	background: #F30000;
	border-radius: 8px;

	display: flex;
	align-items: center;

}
.navitem{
	/*position:  absolute;*/
	/*width: 46px;*/
	height: 19px;
	margin: 7.5px 25px;
	/*display: inline;*/
	
}
.navbar a{
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: bold;
	text-decoration-line: none;
	text-transform: uppercase;
	color: white;
}
.navitem a:hover{
	text-decoration-line: underline;
}
.navborder{
	width: 24px;
	height: 0px;
	border:  1px solid #FFFFFF;
	transform: rotate(90deg);
	/*display: inline;*/
}
.navbar .account-btn{
	/*width: 178px;*/
	/*height: 34px;*/
	position: absolute;
	right: 0px;
	top: 0px;
	background: #0061A3;
	border-radius: 8px;	
	/*text-align: center;*/

	padding: 7.5px 25px;
}
.account-btn a:hover{
	text-decoration-line: underline;
}
.topbar{
	padding-top: 25px;
	padding-bottom: 15px;

	display: flex;
	align-items: center;
	position: relative;	
}
.topbar #welcome{
	margin-left: 30px;
	font-style: normal;
	font-size: 14px;
	line-height: 120%;
}
.topbar #welcome a{
	color: #0061A3;
	text-decoration-line: none;
}
.topbar #welcome a:hover{
	text-decoration-line: underline;
}
.topbar #top-social{
	position: absolute;
	right: 0px;
}
.topbar .top-social-row{
	display: flex;
	align-items: center;
}
.topbar .top-social-item{
	margin-right: 14px;
}
.topbar #top-social .language-select{
	border: none;
	font-size: 14px;
	text-align: center;
}
/************************body section  ************************/
.mainbody{
	margin: auto;
	/*margin-top: 164px;*/
	width: 1200px;
	height: 2399px;
	border: 1px solid red;
}